<!DOCTYPE html>
<html>
<head>
  <title>Structures</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="/js/index.js"></script>
</head>

<body>
<script>
$(document).ready(function(){
  $("#showButton").click(function(){
    if ($.isNumeric($("#showStructures").val())){
      $.ajax({
        url: '/compare',
        type: 'POST',
        data: 'id=' + $("#showStructures").val(),
        success: function(data) {
          var msg = "";
          if (data == "Error"){
              msg= "No structure with that ID";
              alert(msg);
          }
          else {
            msg = 	"Structure id:" + data.struct_id + "<br/>"
                + "Name : " + data.struct_name + "<br/>"
                + "Description : " + data.struct_desc + "<br/>"
                + "Street No : " + data.struct_lat + "<br/>"
                + "Address : " + data.struct_long + "<br/>"
                + "Stop name : " + data.stop_name + "<br/>"
                + "Stop lat : " + data.stop_lat + "<br/>"
                + "Stop long : " + data.stop_long + "<br/>"
                + "Stop time : " + data.stop_time + "<br/>"
            $("#dialog-text").html(msg);
            $("#dialog").dialog("open");
          }
        }
      });
    }
  });
});
</script>

  <p><h1>Structures API.</h1></p>
    <h2>This is the Scructures API.</h2><br>
      <div class="container">
        <div class="container round-container align-left">
          <div class="">
            <h3>Select structure</h3>
            <p>Select Structure ID (1-792): <input type="text" id="showStructures"></p>
            <Button id="showButton">Show ID</Button>
          </div>
        </div>
      </div>

      <div id="dialog" title="Structure">
        <div id="dialog-text" class="align-left"></div>
        <div id="dialog-d3" class="align-right">
          <% // <div id="Stats-output"></div> %>
        </div>
      </div>

</body>
</html>
