<!DOCTYPE html>
<html>
  <head>
    <title>Structures</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

  </head>

  <body>
    <script>
    $(document).ready(function(){

      // Shows structure with given ID + nearby bus stop
      $("#showButton").click(function(){
        if ($.isNumeric($("#showStructure").val())){
          $.ajax({
            url: '/compare',
            type: 'POST',
            data: 'id=' + $("#showStructure").val(),
            success: function(data) {
              var msg = "";
              if (data == "Error"){
                  msg= "No structure with that ID";
                  alert(msg);
              }
              else {
                msg = "Structure id:" + data.struct_id + "<br/>"
                    + "Name : " + data.struct_name + "<br/>"
                    + "Description : " + data.struct_desc + "<br/>"
                    + "Street No : " + data.struct_lat + "<br/>"
                    + "Address : " + data.struct_long + "<br/>"
                    + "Stop name : " + data.stop_name + "<br/>"
                    + "Stop lat : " + data.stop_lat + "<br/>"
                    + "Stop long : " + data.stop_long + "<br/>"
                    + "Stop time : " + data.stop_time + "<br/>"
                $("#dialog-text").html(msg);
                $("#dialog").dialog("open");
              }
            },
            error: function(jqXHR,textStatus,errorThrown) {
              alert("An error has occurred");
            }
          });
        }
      });

      // Insert new Structure with given data
      $("#insertButton").click(function() {
        if ($.isNumeric($("#addLat").val()) && $.isNumeric($("#addLong").val()) && $.isNumeric($("#addRps").val())  && $.isNumeric($("#addNumber").val())){
          $.ajax({
            url: '/add',
            type: 'POST',
            data: 'rps_no=' + $("#addRps").val()
                  + '&structurename='  + $("#addName").val()
                  + '&description=' + $("#addDesc").val()
                  + '&streetnumber=' + $("#addNumber").val()
                  + '&streetaddress=' + $('#addAddress').val()
                  + '&townland=' + $('#addTown').val()
                  + '&lat=' + $('#addLat').val()
                  + '&long=' + $('#addLong').val(),
            success: function(data) {
              var msgInsert = "";
              msgInsert = "Structure created<br/>"
              $("#dialog-text").html(msg);
              $("#dialog").dialog("open");
            },
            error: function(jqXHR,textStatus,errorThrown) {
              alert("An error has occurred");
            }
          });
        } else {
          var msg = "";
          msg = "Invalid Input"
          $("#dialog-text").html(msg);
          $("#dialog").dialog("open");
        }
      });
      // Delete Structure by ID
      $("#deleteButton").click(function() {
        if ($.isNumeric($("#removeID").val())){
          $.ajax({
            url: '/remove',
            type: 'POST',
            data: 'id=' + $("#removeID").val(),
            success: function(data) {
              var msgInsert = "";
              msgInsert = "Structure Deleted<br/>"
              $("#dialog-text").html(msg);
              $("#dialog").dialog("open");
            },
            error: function(jqXHR,textStatus,errorThrown) {
              alert("An error has occurred");
            }
          });
        }
      });
    });

    </script>
    <div align="center"><h1>Structures API.</h1>
    <h2>This is the Scructures API.</h2></div>
    <h3 class="heading">Select structure</h3>
      <div>
        <p>Select Structure ID (1-792):  <br/><input type="text" id="showStructure"></p>
        <Button id="showButton">Show Structure</Button>
      </div>
    <hr>

    <div class="AddStructure">

      <h3 class="heading">Add a structure</h3>

      <div class="container">
          <div class="row">
            <p><div class="addStruct">rps_no:  <br/><input id="addRps" type="text"></div>
          </div>

          <div class="row">
            <div class="addStruct">structurename:  <br/><input id="addName" type="text"></div>
          </div>

          <div class="row">
            <div class="addStruct">description:  <br/><input id="addDesc" type="text"></div>
          </div>

          <div class="row">
            <div class="addStruct">streetnumber:  <br/><input id="addNumber" type="text"></div>
          </div>

          <div class="row">
            <div class="addStruct">streetaddress:   <br/><input id="addAddress" type="text" ></div>
          </div>

          <div class="row">
            <div class="addStruct">Town:  <br/><input id="addTown" type="text"></div>
          </div>

          <div class="row">
            <div class="addStruct">Latitude:   <br/><input id="addLat" type="text"></div>
          </div>

          <div class="row">
            <div class="addStruct">Longitude:<br/><input id="addLong" type="text"></div></p>
          </div>

          <Button id="insertButton">Insert</button>
          <hr>

          <h3>Delete a Structure</h3>
          <div>
            <p>Select Structure ID:  <br/><input type="text" id="removeID"></p>
            <Button id="deleteButton">Remove Structure</Button>
          </div>

    <div id="dialog" title="Structure">
      <div id="dialog-text"></div>
      </div>
    </div>

  </body>
</html>
